body {
  font-size: 100%;
  background: #fafafa;
  font-family: Arial, Helvetica, sans-serif !important;
}
.header {
  background: #fff;
  height: 70px;
  box-shadow: 0px 0px 10px #888888;
}
.header-dropdown {
  padding-top: 41px;
}
a {
  color: #555;
}
.logo {
  background: url("../images/helping_ears_logo1.png");
  width: 140px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: 100%;
  /* margin-top: 7px; */
  margin-left: 10px;
  display: inline-block;
}
.section {
  width: 96%;
  margin-left: 3%;
}
.tab {
  color: #404040;
  line-height: 70px;
  /* height: 60px; */
}
.tab-item {
  display: inline-block;
  padding: 30px 10px 0px 10px;
  font-size: 16px;
  height: 70px;
  border-bottom: 2px solid transparent;
  color: rgba(0, 0, 0, 0.87);
  font-family: Graphik;
}
.tab-item.active {
  border-bottom: 2px solid #7500c0;
}
.observer {
  margin-top: 30px;
}
.observer-text {
  color: #28c4a9;
  font-size: 30px;
}
.observe-bar {
  text-align: right;
}
.observer-bar {
  width: 120px;
  height: 17px;
  background: #70ad47;
  display: inline-block;
  display: none;
}
.observe-percentage {
  width: 100%;
  text-align: right;
  font-size: 16px;
  color: #404040;
  display: none;
}
.video {
  margin-top: 20px;
}
.audio-series-graph {
  padding-top: 20px;
}
.main-video.border-trans {
  border-top: 5px solid transparent;
}
.main-video {
  background: #fff;
  height: 450px;
  position: relative;
  border-top: 5px solid #28c4a9;
}
.audio {
  background: #fff;
  height: 190px;
  position: relative;
  border-top: 5px solid transparent;
}
.time-series-graph {
  padding-top: 20px;
}
.audio-video {
  /* background: #f2f2f2; */
  height: 190px;
  position: relative;
}
.activity {
  background: #fff;
  height: 190px;
  /* margin-top: 10px; */
  position: relative;
}
.video-text {
  /* padding: 5px; */
  height: 30px;
  color: #4a4a4a;
  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
}
.accuracy-bottom {
  font-size: 12px;
  color: #4a4a4a;
  position: absolute;
  bottom: 10px;
  /* height: 25px; */
  right: 20px;
}
.dropdown-row {
  margin-top: 20px;
}
.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #292b2c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}
.living-room {
  /* position: relative; */
  /* top: 36px; */
  display: inline-block;
}
.living-room .dropdown {
  display: inline-block;
  border-bottom: 1px solid #c1c1c1;
  margin: 0px 12px;
}
.living-room .btn {
  background: transparent;
  color: #000;
  font-size: 12px;
  padding: 2px 0px;
  font-weight: bold;
  /* border-bottom: 1px solid #000; */
}
.living-room .dropdown-toggle::after {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #000;
}

.living-room .dropdown-menu {
  font-size: 12px;
}
.living-room .dropdown-item {
  padding: 7px 20px;
}
.living-room .dropdown-item:hover {
  background: #eee;
}
.modal-applied {
  /* float: right; */
  display: inline-block;
  /* position: relative; */
  /* top: 36px; */
  /* text-align: right; */
}
.modal-applied .btn {
  background: transparent;
  color: #000;
  font-size: 12px;
  font-weight: bold;
  padding: 2px 0px;
}
.modal-applied .dropdown-toggle::after {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  color: #7f7f7f;
}

.modal-applied .dropdown-menu {
  font-size: 12px;
}
.modal-applied .dropdown-item {
  padding: 7px 20px;
}
.modal-applied .dropdown-item:hover {
  background: #eee;
}
.audio-accuracy {
  display: none;
  bottom: -5px;
  right: 0px;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color: #555;
  cursor: default;
  background-color: transparent;
  border: transparent;
  border-bottom-color: transparent;
}
.nav-tabs > li > a:hover {
  border-color: transparent;
}

.nav > li > a:focus,
.nav > li > a:hover {
  text-decoration: none;
  background-color: transparent;
}
.modal-applied-dropdown {
  position: relative;
  /* right: 0px; */
  /* width: 30%; */
  border-bottom: 1px solid #c1c1c1;
  margin: 0px 12px;
}
.play-button {
  position: absolute;
  right: 110px;
  top: 5px;
  font-size: 15px;
  background: #ddd;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.video-area {
  margin-top: 53px;
}
.pause-button {
  position: absolute;
  right: 10px;
  top: 5px;
  font-size: 15px;
  background: #ddd;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.red-color {
  color: #ed7d31 !important;
}
.red-backgroundcolor {
  background: #ed7d31 !important;
}
.videoaccuracy {
  display: none;
}

/*---------- time series css ------------*/
.line {
  fill: none;
  stroke: #404040;
  stroke-width: 2;
}

.av-line1 {
  fill: none;
  stroke: #ac3973 !important;
  stroke-width: 2;
}

.av-line {
  fill: none;
  stroke: #1f3d7a !important;
  stroke-width: 2;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
.audio-distress {
  background: #ed7d31;
  width: 5px;
  height: 122px;
  position: absolute;
  top: 36px;
  right: 40px;
  display: none;
}
text {
  fill: #000;
}

rect {
  fill: #f2f2f2;
}
.av-audio-series-graph {
  padding-top: 20px;
}
.av-video-series-graph {
  margin-top: -25px;
}
.notification-popup {
  background: #ed7d31;
  color: #fff;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  position: absolute;
  line-height: 40px;
  top: 3%;
  left: 35%;
  text-align: center;
  font-size: 16px;
  display: none;
}

/*-------blink a box------------*/
@-webkit-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.blink-box {
  width: 100%;
  /* height: 359px; */
  position: absolute;
  /* margin-left: 48px; */
  top: -5px;
}
.blink {
  border-top: 5px solid #ed7d31;
  -webkit-animation: blinker 0.3s infinite;
  -moz-animation: blinker 0.3s infinite;
  animation: blinker 0.3s infinite;
}
.left-container {
  min-height: 530px;
  /* background-color: #eee;*/
  margin-top: 30px;
  max-width: 242px;
}

.report-title {
  font-weight: bold;
  font-size: 13px;
}

.right-container {
  margin-top: 30px;
  min-height: 630px;
}

.report-container {
  font-size: 12px !important;
}

.border {
  border-right: 2px solid #d9d9d9;
}

.left-container a {
  color: #000 !important;
  text-decoration: none;
}

.report-active {
  font-weight: bold;
}

.left-container div {
  padding: 0px 0px 24px 20px !important;
}

.report-main-container {
  margin-top: 30px;
}

.report-label {
  color: #7f7f7f;
}

.report-padding {
  padding: 0;
}

.report-text-container {
  margin-bottom: 10px;
}

.report-bottom-line {
  margin-top: 50px;
}

.report-label-text {
  color: red;
}

.report-main-row {
  border-bottom: 1px solid #d9d9d9;
  max-width: 400px;
  padding: 5px 0 10px 0px;
  font-size: 13px !important;
  cursor: pointer;
}

.report-log-content {
  font-size: 13px !important;
  padding: 5px 0 10px 10px;
}

.report-margin-left {
  text-align: right;
}

.report-row {
  padding-bottom: 10px;
}

.report-row .col-md-12 span {
  margin: 0px 33px 0px 0px;
}

.report-hide {
  display: none;
}

.report-show {
  display: block;
}
#canvabox {
  margin-left: 30px;
  margin-top: 15px;
}
.report-padding1 {
  width: 100%;
}
.report-main-container1 {
  width: 100%;
  padding-top: 18px;
  padding-left: 20px;
}
.report-text-container1 {
  font-size: 13px;
  padding: 6px 0px;
}
.report-label1 {
  color: #999;
}
.report-title1 {
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}
.distree-audio-chart-img {
  background: url("../images/distressaudiochart.png");
  width: 442px;
  height: 152px;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 30px;
  display: none;
}
